/node_modules
/public
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/docker
docker-compose.yml
Makefile
/tests
/storage
/routes/web.php
/resources
/lang
/database/factories
/database/seeders
/app/Mail
/app/Http/Controllers/Admin
/app/Http/Controllers/Frontend
/app/Http/Controllers/User
/app/Http/Requests/Admin
/app/Http/Requests/Frontend
/app/Http/Requests/User
/app/Http/Services/Admin
/app/Http/Services/Frontend
/app/Http/Services/User




